---
import Layout from '../layouts/Layout.astro';
import ServerData from '../components/server/ServerData.vue';
import UserList from '../components/server/UserList.vue';
import type { OverallData, UserTimeSummary } from '../models/server';
import 'vue3-easy-data-table/dist/style.css';

const urlSearchParams = new URLSearchParams(Astro.url.search);
const params = Object.fromEntries(urlSearchParams.entries());

if (!params.id || !params.id.length) {
  return Astro.redirect('/');
}

const serverId = params.id;
const lookback = 7;

async function getOverallData() {
  // fetch data from API - default to 7 day lookback
  let summaryData: OverallData[];
  try {
    const resp = await fetch(`${import.meta.env.DATASTORE_URL}/server?guild=${serverId}&days=${lookback}`);
    summaryData = await resp.json();
  } catch (err) {
    summaryData = [];
  }
  return summaryData;
}

async function getUserData() {
  let userData: UserTimeSummary[];
  try {
    const resp = await fetch(`${import.meta.env.DATASTORE_URL}/users?guild=${serverId}&days=${lookback}`);
    userData = await resp.json();
  } catch (err) {
    userData = [];
  }
  return userData;
}

const [summaryData, userData] = await Promise.all([getOverallData(), getUserData()]);
---

<Layout title="View Server">
  <div class="flex flex-row items-center justify-center mb-8">
    <!-- TODO: This will be the server icon -->
    <span style="border-radius: 50%; height: 48px; width: 48px;" class="inline-block bg-gradient mr-2"></span>
    <!-- TODO: Server Name -->
    <h1 class="text-4xl">Server Name</h1>
  </div>
  <h1 class="text-2xl">Total Server Time</h1>
  <ServerData data={summaryData} client:load />
  <h1 class="mt-8 text-2xl mb-2">Time by User</h1>
  <UserList client:visible userData={userData} />
</Layout>
